@using Cts.Venture.Web
@model Cts.Venture.Dto.ProjectTeamDto

<tr>
    <td><a href="#">@Model.Role</a></td>
    <td>@Model.Resource</td>
    <td>@Model.Phone</td>
    <td><a href="mailto:@Model.Email">@Model.Email</a></td>
    <td><i class="fa fa-times text-warning"></i></td>
</tr>
