<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ctswebframework.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-005.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ctswebframework</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ctswebframework</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VENTUREDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:k1zfhkupvr.database.windows.net,1433;Initial Catalog=CTSTEST01;User ID=svc_sql@k1zfhkupvr;Password=Cts!cts@1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=k1zfhkupvr.database.windows.net;Initial Catalog=demo;User ID=svc_sql;Password=Cts!cts@1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VENTUREDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Demo.csdl|res://*/Demo.ssdl|res://*/Demo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=k1zfhkupvr.database.windows.net;initial catalog=demo;user id=svc_sql; password=Cts!cts@1;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VENTUREDbContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Demo.csdl|res://*/Demo.ssdl|res://*/Demo.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:k1zfhkupvr.database.windows.net,1433;initial catalog=CTSTEST01;user id=svc_sql@k1zfhkupvr;password=Cts!cts@1;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>